{% extends "houseapp/base.html" %} {% block content %}
<article class="media content-section" style="background-color: transparent">
  <div class="media-body" style="background-color: transparent">
    <div class="article-metadata" style="background-color: transparent">
      <h1>Calendar</h1>
        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23F09300&amp;ctz=America%2FToronto&amp;src=bGVld2tzQGdtYWlsLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4uY2FuYWRpYW4jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%233366CC&amp;color=%23329262&amp;color=%231F753C&amp;showTitle=0&amp;showDate=1&amp;showPrint=0&amp;showTz=0" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</article>
{% endblock content %}
